.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}
.heading1 {
    display: flex;
    text-align: center;
    color: brown;
    margin-bottom: 50px;
    justify-content: center;
}
.image {
    width: 300px;
    /* height: 200px; */
    border: 2px solid transparent;
    /* Add a border */
    border-radius: 15px;
    /* padding-right: 25px; */
    margin-left: 00px;
}

.tittle{
    color: aliceblue;
    font-weight: bolder;
}
.sub_tittle{
    color: darkgray;
    font-weight: 200;
}
.vedio_icon{
    justify-content: center;
    display: flex;
}
.details{
    padding-left: 20px;
}